hr {
  margin: 0 !important;
}

/* Home Page */

.pageBackground {
  background-color: var(--light-blue);
  color: var(--navy);
  min-height: 87vh;
  text-align: center;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

.pageTitle {
  font-size: 32px;
  font-weight: bold;
  color: var(--navy);
  margin-bottom: 20px;
}

.pageDescription {
  font-size: 18px;
  color: var(--navy);
  margin-bottom: 30px;
}

.newsPage {
 padding: 50px;
}

.playerSearch {
  margin: 50px;
  padding: 50px;
}

.playerSearchDescription {
  font-size: 16px;
  color: var(--navy);
  margin-bottom: 10px;
}



/* Page Not Found */

.notFoundPageContainer {
  width: 100%;
  background-color: var(--blue);
  height: 85vh;
}

.notFoundPageInner {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notFoundPageContent {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 20px solid var(--blue);
  border-radius: 20px;
  width: 80%;
  background-color: var(--navy);
  color: var(--pink);
}

.notFoundPageContent div {
  width: 100%;
  height: 100%;
  min-height: 400px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-start;
}

.notFoundPageContent div:nth-child(1) {
  justify-content: center;
  align-items: center;
}

.notFoundPageContent p {
  font-size: 1rem;
}

.notFoundPageContent span {
  font-size: 2rem;
}

.notFoundPageContent a {
  color: var(--pink);
}

.notFoundPageContent img {
  display: flex;
  width: 200%;
}
